spring:
  application:
    name: tripwhiz-user-back
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver

#    url: jdbc:mariadb://10.10.10.217:13306/tripwhiz
    url: jdbc:mariadb://localhost:13306/tripwhiz
    username: debuggers
    password: debuggers

    hikari:
      minimum-idle: 2
      maximum-pool-size: 5
      connection-timeout: 5000

  jpa:
    hibernate:
      ddl-auto: update
      dialect: org.hibernate.dialect.MariaDB103Dialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 20MB
      location: /c/upload/attach
      enabled: true

com:
  tripwhiz:
    accessTime: 60
    refreshTime: 10080
    alwaysNew: true
    upload:
      path: /c/upload/attach  # image upload path
      qrpath: qrimages

logging:
  level:
    org.springframework.security.web: TRACE

mvc:
  throw-exception-if-no-handler-found: true

web:
  resources:
    add-mappings: false

server:
  port: 8081  # 원하는 포트 번호로 변경
